## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
5 + 4 * 9 % (3 + 1) / 6 - 1

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [31]:
number=int(input('Input any number'))
if(number%2==0):
    print('Even')
else:
    print('Odd')

Input any number 11

Odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [355]:
number= int(input('input any number'))
for i in range(1,11,1):
    print(number , '*' , i , '=' , number*i )

input any number 33

33 * 1 = 33
33 * 2 = 66
33 * 3 = 99
33 * 4 = 132
33 * 5 = 165
33 * 6 = 198
33 * 7 = 231
33 * 8 = 264
33 * 9 = 297
33 * 10 = 330

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [71]:
for i in range (2000,3200,1):
    if (i%7==0 and i%5!=0):
        print(i ,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [109]:
list1= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
string = 0 
integer = 0 
boolean = 0 
float1 = 0 
for i in list1:
    if(type(i)==str):
        string = string+1
    elif (type(i)==int):
        integer= integer + 1
    elif (type(i)==float):
        float1= float1 + 1
    elif (type(i)==bool):
        boolean= boolean + 1
print ('Strings = ' ,string)
print('integers = ',integer)
print('boolean = ',boolean)
print('floats = ',float1)

Strings =  4
integers =  5
boolean =  1
floats =  1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [123]:
list2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
sum = 0
for i in list2 :
    if(type(i)==int or type(i)==float ):
        sum= sum+i
print(sum)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [127]:
list3= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
string = ' ' 
for i in list2 :
    if(type(i)==str):
        string= string + i + '-'
print(string)

 Py-10-SQL-John-

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [217]:
list3= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

def my_func(list):
    Sum = 0
    Count_of_Strs = 0
    for i in list:
        if(type(i)==str):
            Count_of_Strs = Count_of_Strs+1
        if (type(i)==int or type(i)==float ):
            Sum= Sum+i
            
    return {'Sum': Sum, 'Count_of_Strs': Count_of_Strs}
my_func(list3)

{'Sum': 21.5, 'Count_of_Strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use list comprehensions

In [285]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
print ('i. using loops ')
l2=[]
for i in li:
    if(i%2 != 0 ):
        l2.append(i)
print(l2)
print('ii. using list comprehensions')
odd = [n for n in li if n % 2 != 0]
li1=list(odd)
print(li1)
print ('iii. using list comprehensions' )
odd1 = list(filter(lambda x : x%2 !=0 , li))
print(odd1)

i. using loops
[5, 7, 97, 77, 23, 73, 61]
ii. using list comprehensions
[5, 7, 97, 77, 23, 73, 61]
iii. using list comprehensions
[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [465]:
li = input('input numbers')
li = li.split(",")

l2 = []
for j in li:
    j = int(j)
    l2.append(j)
  
def Cal(l3):
    Sum = 0 
    count = 0 
    mean = 0 
    minimum = min(l3)
    maximum = max(l3)
    for i in l3:
        Sum = Sum+i
        count = count + 1    
    mean = Sum / count
    return Sum , count , minimum , mean , maximum
Cal(l2)

input numbers 1,2,3,4,5,6,7,8,9,10

(55, 10, 1, 5.5, 10)

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [519]:
def calculate_area(shape, **kwargs):
    if shape.lower() == "square":
        if "side" in kwargs:
            side = kwargs["side"]
            if isinstance(side, (int, float)) and side > 0:
                return side ** 2
            else:
                return "Please enter a valid positive number for 'side' in square"
        else:
            return "Please enter 'side' for a square"
        
    elif shape.lower() == "rectangle":
        if "length" in kwargs and "width" in kwargs:
            length = kwargs["length"]
            width = kwargs["width"]
            if isinstance(length, (int, float)) and length > 0 and isinstance(width, (int, float)) and width > 0:
                return length * width
            else:
                return "Please enter valid positive numbers for 'length' and 'width' in rectangle"
        else:
            return "Please enter both 'length' and 'width' for a rectangle"
        
    elif shape.lower() == "circle":
        if "radius" in kwargs:
            radius = kwargs["radius"]
            if isinstance(radius, (int, float)) and radius > 0:
                return 3.14159 * (radius ** 2)
            else:
                return "Please enter a valid positive number for 'radius' in circle"
        else:
            return "Please enter 'radius' for a circle"
        
    else:
        return "Unknown shape! Please choose from 'square', 'rectangle', or 'circle'."


shape = input("Enter the shape (square, rectangle, circle): ").strip().lower()

if shape == "square":
    side = float(input("Enter the side of the square: "))
    print(calculate_area(shape, side=side))

elif shape == "rectangle":
    length = float(input("Enter the length of the rectangle: "))
    width = float(input("Enter the width of the rectangle: "))
    print(calculate_area(shape, length=length, width=width))

elif shape == "circle":
    radius = float(input("Enter the radius of the circle: "))
    print(calculate_area(shape, radius=radius))

else:
    print("Invalid shape! Please enter square, rectangle, or circle.")

Enter the shape (square, rectangle, circle):  Rectangle
Enter the length of the rectangle:  12
Enter the width of the rectangle:  12

144.0

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [697]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def func(l1, l2):
    l3 = [i for i in l1 if i in l2]  # Find elements common to both lists
    only_in_l1 = [i for i in l1 if i not in l3]  # Elements unique to l1
    only_in_l2 = [i for i in l2 if i not in l3]  # Elements unique to l2
    
    return {'Matched': l3, 'only in l1': only_in_l1, 'only in l2': only_in_l2}
func(l1,l2)

{'Matched': ['January', 'February', 'June', 'December'],
 'only in l1': ['March', 'May', 'September'],
 'only in l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [707]:
def is_prime(n):
    if n>2 :
        return 'not prime'
    else:
        for i in range (2 , n**0.5,1):
            if (n%i==0):
                return 'not prime' 
            else:
                return prime
is_prime (90)

'not prime'

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [715]:
number = int(input('enter your number'))
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
factorial(number)

enter your number 8

40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [802]:
number = int(input('enter your number'))
def func(n):
    d1 = {}
    for i in range(1 , n+1 ):
        d1 [i] = i * i
        
    return d1,
func(number)

enter your number 8

({1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64},)

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [818]:
numbers = input('enter numbers seprated by comme')
l1=numbers.split(sep =",")
print(l1)
t1 = tuple(l1)
print(t1)

enter numbers seprated by comme 1,2,3,4

['1', '2', '3', '4']
('1', '2', '3', '4')

Q18. Write a program that accepts a sequence of whitespace separated words 
 as input and prints the words after removing all duplicate words and sorting them alphanumerically.
 Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
 Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [851]:
string = input('enter string seprated by space')
s1=string.split(sep=" ")
set1 = set(s1)
sorted_set1= sorted(set1)
s3 = ' ' 
for i in sorted_set1:
    s3 = s3+ i +' '
print(s3)

enter string seprated by space hello world and practice makes perfect and hello world again

 again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [881]:
my_string = input('enter string')

UPPER_CASE= 0
LOWER_CASE = 0

for char in my_string:
    if char.isupper():
        UPPER_CASE += 1
    elif char.islower():
        LOWER_CASE += 1

# Display results
print("UPPER CASE:", UPPER_CASE)  # Output: Uppercase letters: 4
print("LOWER CASE:", LOWER_CASE)

enter string Hello world\

UPPER CASE: 1
LOWER CASE: 9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [883]:
string = input("Enter a string: ")

reversed_string = string[::-1]

print("Reversed string:", reversed_string)

Enter a string:  Hello

Reversed string: olleH